<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/style-hayat.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <title>Unity</title>
        <link rel="icon" type="image/png" href="../static/img/logos/logoDark.png" />
    </head>
    <body>
        <header>
            <nav id="Header">
                <div class="HeaderLogo">
                    <a href="/">
                        <img src="../static/img/logos/HeaderLogoAccueil.png" alt="UnityLogo"/>
                    </a>
                </div>
                <div id="searchHeader">
                    <button id="buttonHeader" type="submit" value="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input id="inputHeader" type="search" placeholder="Rechercher une catégorie" maxlength="200" spellcheck="false"/>
                </div>
                <div class="HeaderLinks">
                    <ul>
                        <li><a href="/category">Catégories</a></li>
                        <li><a href="/postPage">Poster</a></li>
                        <li><a href="#">Mes posts</a></li>
                        <li><a href="#">Mes likes ♥</a></li>
                    </ul>
                </div>
            </nav>
            <div class="HeaderLogoResponsive">
                <a href="/">
                    <img src="../static/img/logos/logoLight.png" alt="UnityLogo" width="60px"/>
                </a>
            </div>
            <div class="AccueilResponsive">
                <a href="/">Accueil</a>
            </div>
            <i class="fa fa-bars"></i>
            <div class="HeaderLinksResponsive">
                <ul>
                    <li><a href="/category">Catégories</a></li>
                    <li><a href="/postPage">Poster</a></li>
                    <li><a href="#">Mes posts</a></li>
                    <li><a href="#">Mes likes ♥</a></li>
                </ul>
            </div>
        </header>

        <div id="titresAccueil">
            <h1 id="accueilTitre">Unity<br />Unleashed</h1>
            <h2 id="accueilSlogan">Where Minds Meet</h2>
        </div>

        <div id="boutonsCoAccueil">
            <button id="bInscrireAccueil">S'inscrire</button>
            <button id="bCoAccueil">Se connecter</button>
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="../static/HeaderScriptHayat.js"></script>
    </body>
    <footer>
        <div class="footerContainer">
            <div class="footerDiv">
                <p>Linkedin</p>
                <ul>
                    <li><a href="#" target="_blank">Ismael Mazlin</a></li>
                    <li><a href="#" target="_blank">Bryan De Souza</a></li>
                    <li><a href="#" target="_blank">Mohammed-Ali Chahlafi</a></li>
                    <li><a href="https://www.linkedin.com/in/marina-bott/" target="_blank">Marina Bott</a></li>
                    <li><a href="https://www.linkedin.com/in/hayat-developer/" target="_blank">Hayat Mazlin</a></li>
                </ul>
            </div>
            <div class="footerDiv">
                <p>Git</p>
                <ul>
                    <li><a href="https://zone01normandie.org/git/imazlin" target="_blank">Ismael Mazlin</a></li>
                    <li><a href="https://zone01normandie.org/git/bdesouza" target="_blank">Bryan De Souza</a></li>
                    <li><a href="https://zone01normandie.org/git/mchahlaf" target="_blank">Mohammed-Ali Chahlafi</a></li>
                    <li><a href="https://zone01normandie.org/git/mbott" target="_blank">Marina Bott</a></li>
                    <li><a href="https://zone01normandie.org/git/hmazlin" target="_blank">Hayat Mazlin</a></li>
                </ul>
            </div>
            <div class="footerDiv">
                <p>Discord</p>
                <ul>
                    <li><p class="discord">@ismael4</p></li>
                    <li><p class="discord">@bryannltr</p></li>
                    <li><p class="discord">@nexus_76</p></li>
                    <li><p class="discord">@samasta_heisen_berg</p></li>
                    <li><p class="discord">@thym7ia</p></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="footerZone">
            <p>Zone 01</p>
            <ul>
                <li><a href="https://zone01rouennormandie.org" target="_blank"><img src="../static/img/footerLogos/webpage.png" alt="Zone01"></a></li>
                <li><a href="https://www.facebook.com/Zone01Rouen" target="_blank"><img src="../static/img/footerLogos/facebook.png" alt="Facebook"></a></li>
                <li><a href="https://www.instagram.com/zone01_rouen_normandie/" target="_blank"><img src="../static/img/footerLogos/instagram.png" alt="Instagram"></a></li>
                <li><a href="https://twitter.com/zone01rouen" target="_blank"><img src="../static/img/footerLogos/x.png" alt="X"></a></li>
                <li><a href="https://www.tiktok.com/@zone01rouen" target="_blank"><img src="../static/img/footerLogos/tiktok.png" alt="TikTok"></a></li>
                <li><a href="https://www.linkedin.com/company/zone01-rouen-normandie/" target="_blank"><img src="../static/img/footerLogos/linkedin.png" alt="Linkedin"></a></li>
            </ul>
        </div>
        <hr>
        <div class="footerSpace">
            <div class="footerMentions">
                <a id="aMentions" href="#">Mentions légales</a> | &copy;2024
                <span class="bold">Unity Unleashed</span> Forum
            </div>
        </div>
    </footer>
</html>
