{{define "footer"}}
    <footer>
        <!-- div pour le logo du footer -->
        <div class="footerContainer">
            <div class="footerDiv">
                <a id="footerLogo" href="/">
                    <img src="/view/static/img/logos/logoLight.png" alt="UnityLogo" width="110px"/>
                </a>
            </div>
            <!-- div contenant les liens -->
            <div class="footerDiv">
                <p>Linkedin</p>
                <ul>
                    <li><a href="#" target="_blank">Ismael Mazlin</a></li>
                    <li><a href="#" target="_blank">Bryan De Souza</a></li>
                    <li><a href="#" target="_blank">Mohammed-Ali Chahlafi</a></li>
                    <li><a href="https://www.linkedin.com/in/marina-bott/" target="_blank">Marina Bott</a></li>
                    <li><a href="https://www.linkedin.com/in/hayat-developer/" target="_blank">Hayat Mazlin</a></li>
                </ul>
            </div>
            <div class="footerDiv">
                <p>Git</p>
                <ul>
                    <li><a href="https://zone01normandie.org/git/imazlin" target="_blank">Ismael Mazlin</a></li>
                    <li><a href="https://zone01normandie.org/git/bdesouza" target="_blank">Bryan De Souza</a></li>
                    <li><a href="https://zone01normandie.org/git/mchahlaf" target="_blank">Mohammed-Ali Chahlafi</a></li>
                    <li><a href="https://zone01normandie.org/git/mbott" target="_blank">Marina Bott</a></li>
                    <li><a href="https://zone01normandie.org/git/hmazlin" target="_blank">Hayat Mazlin</a></li>
                </ul>
            </div>
            <div class="footerDiv">
                <p>Discord</p>
                <ul>
                    <li><a href="#" target="_blank">ismael4</a></li>
                    <li><a href="#" target="_blank">bryannltr</a></li>
                    <li><a href="#" target="_blank">nexus_76</a></li>
                    <li><a href="#" target="_blank">samasta_heisen_berg</a></li>
                    <li><a href="#" target="_blank">thym7ia</a></li>
                </ul>
            </div>
        </div>
        <hr />
        <!-- partie du footer contenant les img qui renvoient vers les comptes Zone01 -->
        <div class="footerZone">
            <ul>
                <li><a href="https://zone01rouennormandie.org" target="_blank"><img src="/view/static/img/footerLogos/webpage.png" alt="Zone01"></a></li>
                <li><a href="https://www.facebook.com/Zone01Rouen" target="_blank"><img src="/view/static/img/footerLogos/facebook.png" alt="Facebook"></a></li>
                <li><a href="https://www.instagram.com/zone01_rouen_normandie/" target="_blank"><img src="/view/static/img/footerLogos/instagram.png" alt="Instagram"></a></li>
                <li><a href="https://twitter.com/zone01rouen" target="_blank"><img src="/view/static/img/footerLogos/x.png" alt="X"></a></li>
                <li><a href="https://www.tiktok.com/@zone01rouen" target="_blank"><img src="/view/static/img/footerLogos/tiktok.png" alt="TikTok"></a></li>
                <li><a href="https://www.linkedin.com/company/zone01-rouen-normandie/" target="_blank"><img src="/view/static/img/footerLogos/linkedin.png" alt="Linkedin"></a></li>
            </ul>
        </div>
        <hr>
        <div class="footerSpace">
            <div class="footerMentions">
                <a id="aMentions" href="#">Mentions légales</a> | &copy;2024
                <span class="bold">Unity Unleashed</span> Forum
            </div>
        </div>
    </footer>
{{end}}