{{define "headerConnected"}}
    <header>
        <nav id="Header">
            <div class="HeaderLogo">
                <a href="/">
                    <img src="/view/static/img/logos/HeaderLogoAccueil.png" alt="UnityLogo"/>
                </a>
            </div>
            <div id="searchHeader">
                <form action="/categorySearch">
                    <button id="buttonHeader" type="submit" value="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input id="inputHeader" name="categoryFilter" type="search" placeholder="Rechercher une catégorie" maxlength="200" spellcheck="false"/>
                </form>
            </div>
            <div class="HeaderLinks">
                <ul>
                    <li><a href="/pageNewPost">Poster</a></li>
                    <li><a href="/postsByUser">Mes posts</a></li>
                    <li><a href="/postsByLikes">Mes likes ♥</a></li>
                    <li><a href="#">Déconnexion</a></li>
                </ul>
            </div>
        </nav>
        <div class="HeaderLogoResponsive">
            <a href="/">
                <img src="/view/static/img/logos/logoLight.png" alt="UnityLogo" width="60px"/>
            </a>
        </div>
        <div class="AccueilResponsive">
            <a href="/">Accueil</a>
        </div>
        <i class="fa fa-bars"></i>
        <div class="HeaderLinksResponsive">
            <ul>
                <li><a href="/pageNewPost">Poster</a></li>
                <li><a href="/postsByUser">Mes posts</a></li>
                <li><a href="/postsByLikes">Mes likes ♥</a></li>
                <li><a href="#">Déconnexion</a></li>
            </ul>
        </div>
    </header>
{{end}}