<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../static/style-hayat.css" />
        <title>Unity</title>
        <link rel="icon" type="image/png" href="../static/img/logoDark.png" />
    </head>
    
    <header>
        <a id="logoHeader" href="/">
            <img src="../static/img/logoLight.png" alt="logo" width="45px">
            <p>ACCUEIL</p>
        </a>
    </header>

    <body></body>
</html>
