<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page d'accueil</title>
</head>
<body>
    {{if eq .Tmpl "connected"}}
        {{template "headerConnected"}}
    {{else}}
        {{template "headerNotConnected"}}
    {{end}}
    <h1>Page d'Accueil</h1>
    <a href="/registerPage">S'inscrire</a>
    <a href="/loginPage">Connexion</a>
    <a href="/pageNewPost">Poster</a>
    <a href="/postsByLikes">Liked Posts</a>
    <a href="/postsByUser">Mes Posts</a>
    
    {{template "headers" .Data}}

</body>
</html>