   
   <!DOCTYPE html>
   <html lang="fr">
       <head>
           <meta charset="UTF-8" />
           <meta name="viewport" content="width=device-width, initial-scale=1.0" />
           <link rel="stylesheet" type="text/css"
               href="/view/static/css/style-marina.css" />
           <title>Se connecter</title>
       </head>
    <body id="bodyRegister">
        <header>
            <a href="/">
                <img id="imgHeader" src="/view/static/img/logoLight.png" alt="logo"
                    width="45px">
            </a>
            <p id="accueilHeader">accueil</p>
            <div id="searchHeader">
                <input id="inputHeader" type="search"
                    placeholder="Rechercher une catégorie"
                    maxlength="100" spellcheck="false">
                <button id="buttonHeader" type="submit" value="search"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div id="linksHeader">
                <a class="linkHeader" href="/category">catégories</a>
                <a class="linkHeader" href="/postPage">poster</a>
                <a class="linkHeader"
                    href="/loginPage">connexion/inscription</a>
            </div>
        </header>
        <div id="inscriptionTitle">Connexion</div>
        <form action="/loginForm" method="post">
            <div id="containerFormRegister">
                <div id="itemContainerRegister">
                    <label for="username">E-mail :</label>
                    <input id="inputRegister" type="email" name="email"
                        value="bryan@gmail.com" />
                </div>
                <div id="itemContainerRegister">
                    <label for="pass">Mot de passe :</label>
                    <input id="inputRegister" type="password" value="testMDP" name="password"
                        minlength="8" required />
                </div>
                <div id=" itemContainerRegister itemButtonRegister">
                    <button type="submit" id="buttonRegister">CONNEXION</button>
                </div>
            </div>
        </form>
        <div id="containerLinkAccueilSignIn">
            <p id="itemLinkAccueilSignIn">Pas encore de compte ?</p>
            <button id="buttonSignIn itemLinkAccueilSignIn"><a id="linkAccueilSignIn" href="/registerPage">S'ENREGISTRER</a></button>
        </div>
    </body>
</html>

