   
   <!DOCTYPE html>
   <html lang="fr">
       <head>
           <meta charset="UTF-8" />
           <meta name="viewport" content="width=device-width, initial-scale=1.0" />
           <link rel="stylesheet" type="text/css" href="/view/static/css/style-marina.css" />
           <link rel="stylesheet" type="text/css" href="/view/static/css/style-hayat.css" />
           <title>Se connecter</title>
       </head>
    <body id="bodyRegister">
        {{if eq .Tmpl "connected"}}
            {{template "headerConnected"}}
        {{else}}
            {{template "headerNotConnected"}}
        {{end}}
        <div id="inscriptionTitle">Connexion</div>
        {{.Msg}}
        <form action="/loginForm" method="post">
            <div id="containerFormRegister">
                <div id="itemContainerRegister">
                    <label for="username">E-mail :</label>
                    <input id="inputRegister" type="email" name="email"
                        value="bryan@gmail.com" />
                </div>
                <div id="itemContainerRegister">
                    <label for="pass">Mot de passe :</label>
                    <input id="inputRegister" type="password" value="testMDP" name="password"
                        minlength="8" required />
                </div>
                <div id=" itemContainerRegister itemButtonRegister">
                    <button type="submit" id="buttonRegister">CONNEXION</button>
                </div>
            </div>
        </form>
        <div id="containerLinkAccueilSignIn">
            <p id="itemLinkAccueilSignIn">Pas encore de compte ?</p>
            <button id="buttonSignIn itemLinkAccueilSignIn"><a id="linkAccueilSignIn" href="/registerPage">S'ENREGISTRER</a></button>
        </div>
        {{template "footer"}}
    </body>
</html>

