<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form action="/postForm" method="post">
        <input type="text" name="title" id="" value="testTitle"> 
        <textarea name="content" id="" cols="30" rows="10">testContent</textarea>
        <input type="text" name="categories" id="" value="#categories #dsdf dfd sd #manga">
        <button type="submit">Post</button>
    </form>
    <a href="/">Accueil</a>
</body>
</html>