<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/registerForm" method="post">
        <input name="email" value="email" type="email">
        <input name="password" value="9mm9mm" type="password">
        <input name="username" value="homer" type="text">
        <button type="submit">submit</button>
    </form>
    <a href="/">page d'accueil</a>
    
</body>
</html>