<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/view/static/css/style-marina.css" />
        <link rel="stylesheet" type="text/css" href="/view/static/css/style-hayat.css" />
        <title>Créer un compte</title>
    </head>
    {{if eq .Tmpl "connected"}}
        {{template "headerConnected"}}
    {{else}}
        {{template "headerNotConnected"}}
    {{end}}
    <body id="bodyRegister">
        <div id="inscriptionTitle">Inscription</div>
        <form action="/registerForm" method="post">
            <div id="containerFormRegister">
                <div id="itemContainerRegister">
                    <label for="username">Pseudo :</label>
                    <input id="inputRegister" type="text" name="username"
                        value="homer" />
                </div>
                <div id="itemContainerRegister">
                    <label for="username">E-mail :</label>
                    <input id="inputRegister" type="email" name="email"
                        value="bryan@gmail.com" />
                </div>
                <div id="itemContainerRegister">
                    <label for="pass">Mot de passe :</label>
                    <input id="inputRegister" type="password" name="password"
                        minlength="8" required />
                </div>
                <div id=" itemContainerRegister itemButtonRegister">
                    <button type="submit" id="buttonRegister">ENVOYER</button>
                </div>
            </div>
        </form>
            <div id="containerLinkAccueilSignIn">
                <p id="itemLinkAccueilSignIn">Déjà un compte ?</p>
                <button id="buttonSignIn itemLinkAccueilSignIn"><a id="linkAccueilSignIn" href="/loginPage">SE CONNECTER</a></button>
            </div>
    </body>
</html>
