<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/view/static/css/test.css" type="text/css">
        <title>Register</title>
    </head>
    <body id="bodyRegister">
        <header>
            <a href="/">
                <img id="imgHeader" src="../static/img/logoLight.png" alt="logo"
                    width="45px">
            </a>
            <p id="accueilHeader">accueil</p>
            <div id="searchHeader">
                <input id="inputHeader" type="search"
                    placeholder="Rechercher une catégorie"
                    maxlength="100" spellcheck="false">
                <button id="buttonHeader" type="submit" value="search"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div id="linksHeader">
                <a class="linkHeader" href="/category">catégories</a>
                <a class="linkHeader" href="/postPage">poster</a>
                <a class="linkHeader"
                    href="/loginPage">connexion/inscription</a>
            </div>
        </header>
        <div id="inscriptionTitle">Inscription</div>
        <form action="/registerForm" method="post">
            <div id="containerFormRegister">
                <div id="itemContainerRegister">
                    <label for="username">Pseudo :</label>
                    <input id="inputRegister" type="text" name="username"
                        value="homer" />
                </div>
                <div id="itemContainerRegister">
                    <label for="username">E-mail :</label>
                    <input id="inputRegister" type="email" name="email"
                        value="bryan@gmail.com" />
                </div>
                <div id="itemContainerRegister">
                    <label for="pass">Mot de passe :</label>
                    <input id="inputRegister" type="password" name="password"
                        minlength="8" required />
                </div>
                <div id=" itemContainerRegister itemButtonRegister">
                    <button type="submit" id="buttonRegister">Envoyer</button>
                </div>
            </div>
        </form>
        <a href="/">page d'accueil</a>
        <a href="/loginPage">Se connecter</a>
    </body>
</html>










































































































<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/registerForm" method="post">
        <input name="email" value="bryan@gmail.com" type="email">
        <input name="password" value="9mm9mm" type="password">
        <input name="username" value="homer" type="text">
        <button type="submit">submit</button>
    </form>
    <a href="/">page d'accueil</a>
    <a href="/loginPage">Se connecter</a>
    
</body>
</html> -->