<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
        <title>Unity</title>
        <link rel="icon" type="image/png" href="../static/img/logoDark.png">
    </head>

    <header>
        <div id="ContainerHeader">
            <div id="logoAccueil">
                <a href="/">
                    <img src="../static/img/logoLight.png" alt="logo" height="40px" />
                    <p id="pHeader">Accueil</p>
                </a>
            </div>

            <div class="containerSearch">
                <input id="HeaderSearch" type="text" placeholder="Rechercher une catégorie">
            </div>

            <div class="HeaderLinks">
                <a href="" class="aHeader">Catégories</a>
                <a href="" class="aHeader">Discussions</a>
                <a href="" class="aHeader">Connexion/Inscription</a>
            </div>
        </div>
    </header>

    <body></body>
</html>
