/* RESPONSIVE HEADER */
@media screen and (max-width:768px) {
    .HeaderLogo {
        display: none;
    }

    #searchHeader {
        display: none;
    }

    .HeaderLogoResponsive {
        display: block;
    }

    .HeaderLinks {
        display: none;
    }

    .AccueilResponsive a {
        display: block;
    }

    .fa {
        display: block;
        color: #f2f1ec;
        font-size: 25px;
        position: absolute;
        top: 1.5em;
        right: 2em;
        cursor: pointer;
    }

    .fa:hover {
        color: #a9bbc9;
    }

    .HeaderLinksResponsive li {
        text-align: center;
    }

    .HeaderLinksResponsive li {
        padding: 0.5em 0;
    }

    .HeaderLinksResponsive a {
        text-decoration: none;
        font-family: "Arimo";
        font-variant: all-small-caps;
        color: #f2f1ec;
        font-size: 17px;
        cursor: pointer;
        background-image: linear-gradient(#a9bbc9, #a9bbc9);
        background-size: 0% 0.1em;
        background-position-y: 100%;
        background-position-x: 50%;
        background-repeat: no-repeat;
        transition: background-size ease-in-out 0.3s;
    }

    .HeaderLinksResponsive a:hover {
        color: #a9bbc9;
        background-size: 80% 0.1em;
    }
}