@font-face {
    font-family: "Arimo";
    src: url(/view/static/fonts/Arimo.ttf);
}

@font-face {
    font-family: "Arsenica";
    src: url(/view/static/fonts/Arsenica.ttf);
}

@font-face {
    font-family: "TTCommons";
    src: url(/view/static/fonts/TTCommons.otf);
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: auto;
    min-height: 100vh;
    background-color: #f2f1ec;
    background-image: url(/view/static/img/backgrounds/BackgroundTopLarge.png);
    background-size: 100% 68vh;
    background-repeat: no-repeat;
    background-attachment: sticky;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    background-color: transparent;
    border-bottom: 1px solid #f2f1ec;
    font-size: 19px;
}

nav#Header {
    width: 98%;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    font-family: "Arimo";
    font-variant: all-small-caps;
    color: #f2f1ec;
}

.HeaderLinksResponsive {
    display: none;
}

.fa {
    display: none;
}

.AccueilResponsive a {
    color: #a9bbc9;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 1.8em;
    left: 45%;
    cursor: pointer;
    text-align: center;
    font-variant: all-small-caps;
    padding-bottom: 15px;
    display: none;
}

.AccueilResponsive a:hover {
    color: #f2f1ec;
}

.AccueilResponsive p:hover {
    color: #a9bbc9;
}

.HeaderLogo img {
    /* width: 12%; */
    float: left;
}

.HeaderLogoResponsive {
    float: left;
    position: absolute;
    left: 1em;
    top: 1em;
    display: none;
}

.HeaderLinks {
    width: 40%;
}

.HeaderLinks ul {
    display: flex;
    justify-content: space-around;
}

.HeaderLinks li {
    list-style-type: none;
}

.HeaderLinks a {
    text-decoration: none;
    color: #f2f1ec;
    cursor: pointer;
    padding-bottom: 0.5em;
    background-image: linear-gradient(#a9bbc9, #a9bbc9);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size ease-in-out 0.3s;
}

.HeaderLinks a:hover {
    color: #a9bbc9;
    background-size: 80% 0.1em;
}

#buttonHeader,
#inputHeader {
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: #f2f1ec;
}

#inputHeader {
    margin-left: 5px;
    text-align: center;
    font-family: "Arimo";
    padding: 6px;
    padding-bottom: 0.5em;
    background-image: linear-gradient(#a9bbc9, #a9bbc9);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size ease-in-out 0.3s;
}

#inputHeader:hover {
    background-size: 90% 0.1em;
}

#buttonHeader:hover {
    color: #a9bbc9;
}

@media screen and (max-width: 1023px) {
    .HeaderLogo {
        display: none;
    }

    #searchHeader {
        display: none;
    }

    .HeaderLogoResponsive {
        display: block;
    }

    .HeaderLinks {
        display: none;
    }

    .AccueilResponsive a {
        display: block;
    }

    .fa {
        display: block;
        color: #f2f1ec;
        font-size: 25px;
        position: absolute;
        top: 1.5em;
        right: 2em;
        cursor: pointer;
    }

    .fa:hover {
        color: #a9bbc9;
    }

    .HeaderLinksResponsive li {
        text-align: center;
    }

    .HeaderLinksResponsive li {
        padding: 0.5em 0;
    }

    .HeaderLinksResponsive a {
        text-decoration: none;
        font-family: "Arimo";
        font-variant: all-small-caps;
        color: #f2f1ec;
        font-size: 17px;
        cursor: pointer;
        background-image: linear-gradient(#a9bbc9, #a9bbc9);
        background-size: 0% 0.1em;
        background-position-y: 100%;
        background-position-x: 50%;
        background-repeat: no-repeat;
        transition: background-size ease-in-out 0.3s;
    }

    .HeaderLinksResponsive a:hover {
        color: #a9bbc9;
        background-size: 80% 0.1em;
    }
}

#titresAccueil {
    width: 70vw;
    margin: 40px auto;
}

#accueilTitre, #accueilSlogan {
    text-align: center;
}

#accueilTitre {
    font-size: 6em;
    font-family: "Arimo";
    color: #f2f1ec;
}

#accueilSlogan {
    margin: auto;
    margin-top: 7%;
    font-size: 5em;
    font-family: "Arsenica";
    color: #1f2e43;
    font-weight: 80;
}

#boutonsAccueil {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#bInscrireAccueil, #bCoAccueil {
    padding: 10px 15px;
    cursor: pointer;
}

#bInscrireAccueil {
    background-color: transparent;
    border: 1px solid #1f2e43;
    color: #1f2e43;
    font-size: 1.3em;
}

#bCoAccueil {
    background-color: #1f2e43;
    border: 1px solid #1f2e43;
    color: #f2f1ec;
    font-size: 1.3em;
}

#AccueilDerniersMsg {
    width: 100%;
    margin: 6% auto;
    color: #1f2e43;
    text-align: center;
    font-family: "TTCommons";
    font-weight: bold;
    font-size: 1.5em;
    font-variant: all-small-caps;
    border-bottom: 2px solid #1f2e43;
    border-top: 2px solid #1f2e43;
    padding: 7px;
}

.container-headers {
    width: 70vw;
    margin: auto;
}

table#postTable {
    width: 100%;
    border: 2px solid #1f2e43;
    background-color: #f2f1ec;
}

td#postFirstCell {
    width: 95%;
    border-right: 1px solid #1f2e43;
}

form#formTitre {
    text-wrap: nowrap;
    max-width: 45vw;
    overflow-x: scroll;
}

p#postUsername {
    width: max-content;
    margin: 5px;
    border: 2px solid #8b744b;
    border-radius: 15px;
    padding: 3px 5px;
    color: #8b744b;
}

div#containerTitreCategory {
    width: 100%;
    margin: 5px;
    display: inline-flex;
    justify-content: space-between;
}

button#boutonPostTitre {
    border: none;
    font-size: 1.4em;
    font-family: "Arimo";
    font-variant: all-small-caps;
    color: #1f2e43;
    background-color: #f2f1ec;
}

#boutonPostTitre:hover {
    background-color: #f2f1ec;
    font-weight: bold;
    cursor: pointer;
}

div#postCategory {
    display: inline-flex;
    justify-items: end;
    overflow-x: scroll;
    margin-right: 10px;
}

#postCategory:hover {
    background-color: #1f2e43;
    border-radius: 10px;
}

button#postButtonCategory {
    font-size: 1em;
    color: #a9bbc9;
    border: none;
    margin: 5px;
    background-color: transparent;
}

#postButtonCategory:hover {
    font-weight: bold;
}

td#postLastCell {
    text-align: center;
    color: #8b744b;
}

footer {
    width: 100vw;
    margin-top: 2%;
    background-color: rgba(31, 46, 67, 0.9);
    font-family: "Arimo";
    position: relative;
    bottom: 0;
}

footer li {
    list-style-type: none;
}

footer p:not(.discord) {
    color: #a9bbc9;
    font-weight: 800;
    font-variant: all-small-caps;
    font-family: "Arimo";
}

.footerContainer {
    width: 80%;
    margin: auto;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerDiv {
    width: 20%;
    padding: 0.5em;
}

.footerDiv a {
    text-decoration: none;
    color: #f2f1ec;
}

.footerZone {
    width: 40%;
    margin: auto;
    text-align: center;
}

.footerZone ul {
    display: flex;
    justify-content: space-between;
}

.footerZone img {
    border-radius: 50%;
}

footer > hr {
    width: 33%;
    margin: 1em auto;
    color: #1f2e43;
}

.footerMentions {
    width: 50%;
    margin: 0 auto;
    padding: 1em;
    color: #a9bbc9;
}

#aMentions {
    color: #a9bbc9;
}

.footerSpace {
    text-align: center;
}

.bold {
    font-weight: bold;
}
