@font-face {
    font-family: "Arimo";
    src: url(/view/static/fonts/Arimo.ttf);
}

@font-face {
    font-family: "Arsenica";
    src: url(/view/static/fonts/Arsenica.ttf);
}

@font-face {
    font-family: "TTCommons";
    src: url(/view/static/fonts/TTCommons.otf);
}

#imgHeader {
    margin-left: 12px;
    margin-top: 12px;
}

#accueilHeader {
    /* font-size: 1.2vw; */
    font-size: min(max(1.2vw, 4vw), 22px);
    font-family: "TTCommons";
    font-variant: all-small-caps;
    margin-top: 29px;
    margin-left: 40px;
    color: #f2f1ec;
    text-decoration-line: none;
}

#searchHeader {
    margin-top: 33px;
    margin-left: 10%;
}

#buttonHeader,
#inputHeader {
    border: none;
    background-color: transparent;
    color: #f2f1ec;
}

div#linksHeader {
    margin-top: 29px;
}

a.linkHeader {
    font-size: min(max(1.2vw, 4vw), 22px);
    font-family: "TTCommons";
    font-variant: all-small-caps;
    color: #f2f1ec;
    text-decoration-line: none;
}

/* ----------------- CSS REGISTER.HTML -----------------------*/

#inscriptionTitle {
    text-align: center;
    font-family: "Arimo";
    font-size: 6rem;
    color: #f2f1ec;
    margin: 3%;
}

#bodyRegister {
    background-image: url(/view/static/img/backgrounds/BackgroundTopLarge.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#containerFormRegister {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 28%;
    margin-right: 28%;
    border-radius: 20px 20px / 20px 20px;
    margin-top: 2%;
    background-color: rgba(242, 241, 236, 0.33);
    box-shadow: 0px 0px 5px 4px #3D3D3D;
    border: none;
    backdrop-filter: blur(2px);
}

#containerLinkAccueilSignIn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
    gap: 3%;
    align-items: center;
}


a#linkAccueilSignIn:link {
    text-decoration: none;
    color: #f2f1ec;
}

a#linkAccueilSignIn:visited {
    text-decoration: none;
    color: #f2f1ec;
}

a#linkAccueilSignIn:hover {
    text-decoration: none;
    color: #f2f1ec;
}

a#linkAccueilSignIn:active {
    text-decoration: none;
    color: #f2f1ec;
}

#buttonRegister,
button#buttonSignIn\ itemLinkAccueilSignIn {
    background-color: #1F2E43;
    color: #f2f1ec;
    border: none;
    width: 150px;
    height: 44px;
    font-size: 15px;
    text-align: center;
    box-shadow: 0px 0px 5px 2px #3D3D3D;

}

div#\ itemContainerRegister\ itemButtonRegister {
    margin: 2%;
}

#itemContainerRegister {
    text-align: left;
    flex: 1 0 calc(33.33% - 20px);
    padding: 10px;
    color: #1F2E43;
    background-color: #f2f1ec;
    opacity: 0.40;
    margin: 2%;
    width: 48%;
    box-shadow: 0px 0px 5px 4px black;
}

#inputRegister {
    background: transparent;
    border: none;
    color: #1F2E43;
    caret-color: #1F2E43;
}