@font-face {
    font-family: "Arimo";
    src: url(../static/fonts/Arimo.ttf);
}

@font-face {
    font-family: "Arsenica";
    src: url(../static/fonts/Arsenica.ttf);
}

@font-face {
    font-family: "TTCommons";
    src: url(../static/fonts/TTCommons.otf);
}

* {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 70px;
    background-color: #131313;
    border-bottom: 1px solid #f2f1ec;
    display: flex;
}

#imgHeader {
    margin-left: 12px;
    margin-top: 12px;
}

#accueilHeader {
    /* font-size: 1.2vw; */
    font-size: min(max(1.2vw, 4vw), 22px);
    font-family: "TTCommons";
    font-variant: all-small-caps;
    margin-top: 29px;
    margin-left: 40px;
    color: #f2f1ec;
    text-decoration-line: none;
}

#searchHeader {
    margin-top: 33px;
    margin-left: 10%;
}

#buttonHeader,
#inputHeader {
    border: none;
    background-color: transparent;
    color: #f2f1ec;
}

div#linksHeader {
    margin-top: 29px;
}

a.linkHeader {
    font-size: min(max(1.2vw, 4vw), 22px);
    font-family: "TTCommons";
    font-variant: all-small-caps;
    color: #f2f1ec;
    text-decoration-line: none;
}

/* ----------------- CSS REGISTER.HTML -----------------------*/

#inscriptionTitle {
    text-align: center;
    font-family: "Arimo";
    font-size: 6rem;
    color: #f2f1ec;
}

#bodyRegister {
    background-image: url(../static/img/BackgroundTop.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#containerFormRegister {
    border: 3px solid #f2f1ec;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px 20px / 20px 20px;
    margin-top: 2%;
    background-color: rgba(242, 241, 236, 0.33);
}

#buttonRegister {
    background-color: #1F2E43;
    color: #f2f1ec;
    width: 300%;
    border: none;
}

#itemButtonRegister {
    
}

#itemContainerRegister {
    text-align: center;
    flex: 1 0 calc(33.33% - 20px);
    padding: 10px;
    color: #1F2E43;
    background-color:#f2f1ec;
    opacity: 0.40;
    margin: 1%;
    margin: 1%;
    width: 47%;
}

#inputRegister {
    background: transparent;
    border: none;
    color: #1F2E43;
}