@font-face {
    font-family: 'Arimo';
    src: url(../static/fonts/Arimo.ttf);
}

@font-face {
    font-family: 'Arsenica';
    src: url(../static/fonts/Arsenica.ttf);
}

@font-face {
    font-family: 'TTCommons';
    src: url(../static/fonts/TTCommons.otf);
}

*{padding: 0;margin: 0;scroll-behavior: smooth;}

header {
    background-color: #111111;
    height: 60px;
    border-bottom: 2px solid red;
}

#ContainerHeader {
    display: flex;
}

.aHeader, #pHeader {
    color: #f2f1ec;
    text-decoration-line: none;
    font-size: 17px;
    font-family: 'TTCommons';
    font-variant-caps: all-small-caps;
}

#HeaderSearch {
    border: 2px solid transparent;
    width: 17em;
    height: 2em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    color: #f2f1ec;
    background-color: transparent;
    transition: all 0.5s;
}

body {
    background-color: #f2f1ec;
}