@font-face {
    font-family: "Arimo";
    src: url(../static/fonts/Arimo.ttf);
}

@font-face {
    font-family: "Arsenica";
    src: url(../static/fonts/Arsenica.ttf);
}

@font-face {
    font-family: "TTCommons";
    src: url(../static/fonts/TTCommons.otf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2f1ec;
    background-image: url(../static/img/BackgroundTop.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 100vw;
    background-color: #1f2e43;
    border-bottom: 1px solid #f2f1ec;
    font-size: 19px;
}

nav#Header {
    width: 98%;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    font-family: "Arimo";
    font-variant: all-small-caps;
    color: #f2f1ec;
}

.HeaderLinksResponsive {
    display: none;
}

.fa {
    color: #f2f1ec;
    font-size: 25px;
    position: absolute;
    top: 1.5em;
    right: 2em;
    cursor: pointer;
    visibility: hidden;
}

.AccueilResponsive a {
    color: #a9bbc9;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 1.8em;
    left: 45%;
    cursor: pointer;
    text-align: center;
    font-variant: all-small-caps;
    padding-bottom: 15px;
    display: none;
}

.AccueilResponsive a:hover {
    color: #f2f1ec;
}

.AccueilResponsive p:hover {
    color: #a9bbc9;
}

.HeaderLogo img {
    float: left;
}

.HeaderLogoResponsive {
    float: left;
    position: absolute;
    left: 1em;
    top: 1em;
    display: none;
}

.HeaderLinks {
    width: 40%;
}

.HeaderLinks ul {
    display: flex;
    justify-content: space-around;
}

.HeaderLinks li {
    list-style-type: none;
}

.HeaderLinks a {
    text-decoration: none;
    color: #f2f1ec;
    cursor: pointer;
    padding-bottom: 0.5em;
    background-image: linear-gradient(#a9bbc9, #a9bbc9);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size ease-in-out 0.3s;
}

.HeaderLinks a:hover {
    color: #a9bbc9;
    background-size: 80% 0.1em;
}

#buttonHeader,
#inputHeader {
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: #f2f1ec;
}

#inputHeader {
    margin-left: 5px;
    text-align: center;
    font-family: "Arimo";
    padding: 6px;
    padding-bottom: 0.5em;
    background-image: linear-gradient(#a9bbc9, #a9bbc9);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size ease-in-out 0.3s;
}

#inputHeader:hover {
    background-size: 90% 0.1em;
}

#buttonHeader:hover {
    color: #a9bbc9;
}

#accueilTitre {
    font-size: 6em;
    width: 80vw;
    margin: auto;
    font-family: "Arimo";
    color: #f2f1ec;
    text-align: center;
    margin-top: 3vh;
}

#accueilSlogan {
    font-size: 5em;
    width: 80vw;
    font-family: "Arsenica";
    color: #1f2e43;
    font-weight: 80;
    margin: auto;
    text-align: center;
    margin-top: 5vh;
}

#boutonsCoAccueil {
    width: 20vw;
    margin: auto;
    margin-top: 5%;
    display: block;
    text-align: center;
}

#bInscrireAccueil {
    background-color: transparent;
    border: 1px solid #1f2e43;
    color: #1f2e43;
    padding: 13px;
    font-size: 1.3em;
}

#bCoAccueil {
    background-color: #1f2e43;
    color: #f2f1ec;
    padding: 13px;
    border: 1px solid #1f2e43;
    font-size: 1.3em;
}

footer {
    width: 100vw;
    background-color: #1f2e43;
    font-family: "Arimo";
    position: absolute;
    bottom: 0;
}

footer li {
    list-style-type: none;
}

footer p:not(.discord) {
    color: #a9bbc9;
    font-weight: 800;
    font-variant: all-small-caps;
    margin-bottom: 1em;
    font-family: "Arimo";
}

.discord {
    color: #f2f1ec;
    font-family: "Arimo";
}

.footerContainer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerDiv {
    width: 20%;
    padding: 0.8em;
}

.footerDiv a {
    text-decoration: none;
    color: #f2f1ec;
}

.footerZone {
    width: 40%;
    margin: auto;
    text-align: center;
}

.footerZone ul {
    display: flex;
    justify-content: space-between;
}

.footerZone img {
    border-radius: 50%;
}

footer > hr {
    width: 33%;
    margin: 0.7em auto;
    color: #1f2e43;
}

.footerMentions {
    width: 50%;
    margin: auto;
    margin-bottom: 0.7em;
    color: #a9bbc9;
}

#aMentions {
    color: #a9bbc9;
}

.footerSpace {
    text-align: center;
}

.bold {
    font-weight: bold;
}

@media screen and (max-width: 1023px) {
    .HeaderLogo {
        display: none;
    }

    #searchHeader {
        display: none;
    }

    .HeaderLogoResponsive {
        display: block;
    }

    .HeaderLinks {
        display: none;
    }

    .AccueilResponsive a {
        display: block;
    }

    .fa {
        display: block;
    }

    .fa:hover {
        color: #a9bbc9;
    }

    .HeaderLinksResponsive li {
        text-align: center;
    }

    .HeaderLinksResponsive li {
        padding: 0.5em 0;
    }

    .HeaderLinksResponsive a {
        text-decoration: none;
        font-family: "Arimo";
        font-variant: all-small-caps;
        color: #f2f1ec;
        font-size: 17px;
        cursor: pointer;
        background-image: linear-gradient(#a9bbc9, #a9bbc9);
        background-size: 0% 0.1em;
        background-position-y: 100%;
        background-position-x: 50%;
        background-repeat: no-repeat;
        transition: background-size ease-in-out 0.3s;
    }

    .HeaderLinksResponsive a:hover {
        color: #a9bbc9;
        background-size: 80% 0.1em;
    }
}