@font-face {
    font-family: Arimo;
    src: url(../static/fonts/Arimo.ttf);
}

@font-face {
    font-family: Arsenica;
    src: url(../static/fonts/Arsenica.ttf);
}

@font-face {
    font-family: TTCommons;
    src: url(../static/fonts/TTCommons.otf);
}
